[submodule "external/lvgl/lvgl"]
	path = external/lvgl/lvgl
	url = https://github.com/The-personified-devil/lvgl
[submodule "external/lvgl/lv_drivers"]
	path = external/lvgl/lv_drivers
	url = https://github.com/The-personified-devil/lv_drivers
