[submodule "external/lvgl"]
	path = external/lvgl
	url = https://github.com/littlevgl/pc_simulator_sdl_eclipse.git
[submodule "external/vlc/libvlcpp"]
	path = external/vlc/libvlcpp
	url = https://github.com/videolan/libvlcpp.git
[submodule "external/vlc/vlc"]
	path = external/vlc/vlc
	url = https://github.com/videolan/vlc-3.0.git
